{% extends "base.html" %}

{% block title %}Edit Project Tickets{% endblock %}

{% block content %}
        <a style="margin-left: 12px;" class="btn btn-primary" href="{{ url_for('views.create_ticket', project_id=project.id) }}">Create new ticket</a>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Edit Tickets for {{ project.name }}</h5>
            <a class="card-subtitle mb-2 text-muted" href="{{ url_for('views.project_details', project_id=project.id) }}">
                <i class="fa-solid fa-arrow-left"></i>Back to {{ project.name }} details
            </a>
            <!-- Search bar/functionality here. -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Actions</th>
                    </thead>
                    <tbody>
                    {% if tickets %}
                        {% for ticket in tickets %}
                        {% include "/includes/modals.html" %}
                            <tr>
                                <td class="align-middle">{{ ticket.name }}</td>
                                <td class="align-middle">{{ ticket.description }}</td>
                                <td class="align-middle">{{ ticket.priority }}</td>
                                <td class="align-middle">{{ ticket.type }}</td>
                                <td class="align-middle">{{ ticket.status }}</td>
                                <td class="align-middle">{{ ticket.date_created }}</td>
                                <td>
                                    <form method="POST">
                                        <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                                        <button name="action" value="details" class="btn btn-info mb-1">More Details</button>
                                        <button name="action" value="edit" class="btn btn-primary mb-1">Edit Ticket</button>
                                        <button type="button" class="btn btn-danger mb-1" data-bs-toggle="modal"
                                                data-bs-target="#ConfirmTicketDeleteModal-{{ ticket.id }}">
                                            Delete Ticket
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
{% endblock %}