{% extends "base.html" %}

{% block title %}My Projects{% endblock %}

{% block content %}
    <div class="container-fluid my-projects-window">
        <!-- Only show this button if admin. -->
        <a style="margin-left: 12px;" class="btn btn-primary" href="{{ url_for('views.create_project') }}">Create new project</a>
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Your Projects</h5>
                <h6 class="card-subtitle mb-2 text-muted">Here you can see all of your projects.</h6>
                <p class="card-text">Click on "Details" to get an in-depth look of an individual project.</p>
                <!-- Search bar/functionality here. -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Project Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">More Options</th>
                            </thead>
                        <tbody>
                        {% if projects %}
                            {% for project in projects %}
                                <tr>
                                    <td class="align-middle">{{ project.name }}</td>
                                    <td class="align-middle">
                                        {{ project.description[0:40] }}
                                        {% if project.description != project.description[0:40] %}
                                        ...
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        {% include "/includes/modals.html/" %}
                                        <form method="POST">
                                            <a class="btn btn-primary mb-1" href="{{ url_for('views.project_details', project_id=project.id) }}">Details</a>
                                            <input type="hidden" name="project_id" value="{{ project.id }}">
                                            <button type="button" class="btn btn-danger mb-1" data-bs-toggle="modal"
                                                data-bs-target="#ConfirmProjectDeleteModal-{{ project.id }}">
                                                Delete
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}