{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ current_user.first_name }} {{ current_user.last_name }}'s Profile</h5>
                <p class="card-text">Edit what you need, enter your password, and hit "Save Changes".</p>
                <form method="POST" class="form-edit-profile">
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {{ form.first_name(class="form-control", id="floatingFirstName", value=current_user.first_name, placeholder="First Name") }}
                        {{ form.first_name.label(for="floatingFirstName") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.last_name(class="form-control", id="floatingLastName", value=current_user.last_name, placeholder="Last Name") }}
                        {{ form.last_name.label(for="floatingLastName") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.email(class="form-control", id="floatingEmail", value=current_user.email, placeholder="Email") }}
                        {{ form.email.label(for="floatingEmail") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.role(class="form-control", id="floatingRole", value=current_user.role, placeholder="Role") }}
                        {{ form.role.label(for="floatingCurrentPassword") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password1(class="form-control", id="floatingCurrentPassword", placeholder="Current Password") }}
                        {{ form.password1.label(for="floatingCurrentPassword") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password2(class="form-control", id="floatingNewPassword", placeholder="New Password") }}
                        {{ form.password2.label(for="floatingNewPassword") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password3(class="form-control", id="floatingConfirmNewPassword", placeholder="Confirm New Password") }}
                        {{ form.password3.label(for="floatingConfirmNewPassword") }}
                    </div>
                    <div class="d-grid gap-2">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}