
<!-- Confirm Ticket Deletion Modal -->
<div class="modal fade" id="ConfirmTicketDeleteModal-{{ ticket.id }}" tabindex="-1" aria-labelledby="moreInfo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="ConfirmTicketDeleteLabel">Confirm Deletion of "{{ ticket.name }}".</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete "{{ ticket.name }}"?</h5>
        <p>This action is permanent. By clicking "Delete", you will delete this ticket.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method="POST">
          <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
          <button class="btn btn-danger" name="action" value="delete">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>